<div style="width: 1240px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 36px; display: inline-flex">
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 33px; display: inline-flex">
    <div style="flex: 1 1 0; justify-content: center; display: flex; flex-direction: column"><span style="color: black; font-size: 48px; font-family: Roboto; font-weight: 600; text-transform: capitalize; line-height: 70px; word-wrap: break-word">Why </span><span style="color: #4356D6; font-size: 48px; font-family: Roboto; font-weight: 600; text-transform: capitalize; line-height: 70px; word-wrap: break-word">Compliance Matters </span><span style="color: black; font-size: 48px; font-family: Roboto; font-weight: 600; text-transform: capitalize; line-height: 70px; word-wrap: break-word">for Research Analysts</span></div>
    <div style="flex: 1 1 0; color: black; font-size: 18px; font-family: Roboto; font-weight: 400; text-transform: capitalize; line-height: 32px; word-wrap: break-word">In today’s regulatory environment, even a small oversight can lead to penalties, reputational risks, and loss of client trust. We help Research Analysts and firms navigate complex compliance requirements so they can focus on delivering high-quality research without worry.</div>
  </div>
  <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 52px; display: inline-flex">
    <div style="width: 594px; height: 594px; background: black"></div>
    <div style="width: 377.93px; height: 281.10px; background: #1574DD"></div>
    <div style="width: 377.93px; height: 281.10px; background: #FCFBFF"></div>
    <div style="width: 71.28px; height: 27.32px; color: #3B3DBA; font-size: 15.25px; font-family: Poppins; font-weight: 600; word-wrap: break-word">50 / 100</div>
    <div style="width: 377.93px; height: 281.10px"></div>
    <div style="width: 39.26px; height: 61.45px; transform: rotate(-180deg); transform-origin: top left; background: #3B3DBA"></div>
    <div style="width: 39.26px; height: 91.10px; transform: rotate(-180deg); transform-origin: top left; background: #3B3DBA"></div>
    <div style="width: 39.26px; height: 79.12px; transform: rotate(-180deg); transform-origin: top left; background: #1574DD"></div>
    <div style="width: 37.74px; height: 41.68px; background: #1574DD"></div>
    <div style="width: 84.25px; height: 84.25px; background: #3B3DBA"></div>
    <div style="width: 41.23px; height: 6.34px; background: #1574DD"></div>
    <div style="width: 65.40px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 65.40px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 41.23px; height: 6.34px; background: #1574DD"></div>
    <div style="width: 65.40px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 41.23px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 41.23px; height: 6.34px; background: #1574DD"></div>
    <div style="width: 65.40px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 41.23px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 23.61px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 37.45px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 23.61px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 37.45px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 23.61px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 37.45px; height: 6.34px; background: #3B3DBA"></div>
    <div style="width: 200.02px; height: 158.41px; background: #999997"></div>
    <div style="width: 23.38px; height: 131.17px; background: #4B4B4B"></div>
    <div style="width: 110.44px; height: 63.19px; background: #4B4B4B"></div>
    <div style="width: 71.56px; height: 113.92px; background: #00184C"></div>
    <div style="width: 21.62px; height: 20.40px; background: #00184C"></div>
    <div style="width: 75.09px; height: 114.88px; background: #1574DD"></div>
    <div style="width: 15.14px; height: 31.74px; background: #1574DD"></div>
    <div style="width: 50.68px; height: 16.13px; background: #0559B5"></div>
    <div style="width: 44.67px; height: 6.25px; background: #0559B5"></div>
    <div style="width: 36.83px; height: 3.86px; background: #0559B5"></div>
    <div style="width: 17.50px; height: 82.51px; background: #0559B5"></div>
    <div style="width: 31.24px; height: 15.71px; background: #0559B5"></div>
    <div style="width: 28.12px; height: 25.57px; background: #FFA189"></div>
    <div style="width: 52.11px; height: 33.06px; background: #00184C"></div>
    <div style="width: 17.87px; height: 5.58px; background: white"></div>
    <div style="width: 2.64px; height: 3.98px; background: white"></div>
    <div style="width: 2.64px; height: 3.98px; background: white"></div>
    <div style="width: 2.64px; height: 3.98px; background: white"></div>
    <div style="width: 2.64px; height: 3.98px; background: white"></div>
    <div style="width: 13.95px; height: 9.48px; background: white"></div>
    <div style="width: 43.26px; height: 30.04px; background: #00184C"></div>
    <div style="width: 175.44px; height: 124.33px; background: #00184C"></div>
    <div style="width: 66.40px; height: 70.53px; background: #5254CF"></div>
    <div style="width: 19.97px; height: 28.99px; background: #FFA189"></div>
    <div style="width: 12.45px; height: 12.67px; background: #00184C"></div>
    <div style="width: 32.77px; height: 38.62px; background: #FFA189"></div>
    <div style="width: 6.51px; height: 3.41px; background: #00184C"></div>
    <div style="width: 1.82px; height: 2.43px; background: #00184C"></div>
    <div style="width: 1.82px; height: 2.43px; background: #00184C"></div>
    <div style="width: 37.96px; height: 23.53px; background: #00184C"></div>
    <div style="width: 3.22px; height: 1.39px; background: #E87E64"></div>
    <div style="width: 4.93px; height: 2.58px; background: #E87E64"></div>
    <div style="width: 4.09px; height: 2.57px; background: #E87E64"></div>
    <div style="width: 5.44px; height: 3.25px; background: #00184C"></div>
    <div style="width: 5.04px; height: 3.81px; background: #00184C"></div>
    <div style="width: 10.39px; height: 13.03px; background: #FFA189"></div>
    <div style="width: 8.56px; height: 8.56px; background: white"></div>
    <div style="width: 4.32px; height: 7.30px; background: #00184C"></div>
    <div style="width: 8.92px; height: 10.24px; background: white"></div>
    <div style="width: 8.92px; height: 10.24px; background: white"></div>
    <div style="width: 2.58px; height: 4.96px; background: #00184C"></div>
    <div style="width: 2.36px; height: 1.08px; background: white"></div>
    <div style="width: 6.83px; height: 3.76px; background: white"></div>
    <div style="width: 16.37px; height: 28.89px; background: #FFA189"></div>
    <div style="width: 49.73px; height: 24.06px; background: #00184C"></div>
    <div style="width: 12.74px; height: 13.88px; background: white"></div>
    <div style="width: 4.06px; height: 2.58px; background: white"></div>
    <div style="width: 4.06px; height: 2.58px; background: white"></div>
    <div style="width: 4.06px; height: 2.58px; background: white"></div>
    <div style="width: 4.06px; height: 2.58px; background: white"></div>
    <div style="width: 12.37px; height: 9.22px; background: white"></div>
    <div style="width: 49.72px; height: 3.36px; background: #00184C"></div>
    <div style="width: 122.17px; height: 116.21px; background: #00184C"></div>
    <div style="width: 92.16px; height: 67.69px; background: #5254CF"></div>
    <div style="width: 26.72px; height: 23.51px; background: #5254CF"></div>
    <div style="width: 7.77px; height: 49.77px; background: #5254CF"></div>
    <div style="width: 20.92px; height: 15.02px; background: #5254CF"></div>
    <div style="width: 26.13px; height: 3.26px; background: #5254CF"></div>
    <div style="width: 67.60px; height: 57.98px; background: #FFA189"></div>
    <div style="width: 7.36px; height: 3.19px; background: #E87E64"></div>
    <div style="width: 7.03px; height: 2.64px; background: #E87E64"></div>
    <div style="width: 30.10px; height: 37.38px; background: #1574DD"></div>
    <div style="width: 3.15px; height: 25.25px; background: #0559B5"></div>
    <div style="width: 99.85px; height: 18.32px; background: #3B3DBA"></div>
    <div style="width: 71.94px; height: 59.64px; background: #3B3DBA"></div>
    <div style="width: 71.94px; height: 59.64px; background: #3B3DBA"></div>
    <div style="width: 11.77px; height: 13.48px; background: #5254CF"></div>
    <div style="width: 8.11px; height: 47.11px; background: #5254CF"></div>
    <div style="width: 54.53px; height: 84.72px; background: #4356D6"></div>
    <div style="width: 43.84px; height: 85.01px; background: #4356D6"></div>
    <div style="width: 61.55px; height: 50.32px; background: #B2C0FE"></div>
    <div style="width: 22.64px; height: 83.16px; background: #B2C0FE"></div>
    <div style="width: 42.39px; height: 49.90px; background: #B2C0FE"></div>
    <div style="width: 70.65px; height: 41.54px; background: white"></div>
    <div style="width: 71.75px; height: 42.44px; background: #4356D6"></div>
    <div style="flex: 1 1 0; align-self: stretch; overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 40px; display: inline-flex">
      <div style="align-self: stretch; padding: 20px; background: #FAFBFF; border-radius: 8px; outline: 1px #E2E7FF solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 11px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 26px; display: inline-flex">
          <img style="width: 36px; height: 36px" src="https://placehold.co/36x36" />
          <div style="width: 36px; height: 36px; background: #4356D6"></div>
          <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-start; gap: 11px; display: inline-flex">
            <div style="color: black; font-size: 24px; font-family: Roboto; font-weight: 600; text-transform: capitalize; line-height: 32px; word-wrap: break-word">Regulatory Clarity</div>
            <div style="align-self: stretch; height: 59px; color: black; font-size: 18px; font-family: Roboto; font-weight: 400; text-transform: capitalize; line-height: 32px; word-wrap: break-word">We decode complex compliance rules into simple, actionable steps.<br/></div>
          </div>
        </div>
      </div>
      <div style="align-self: stretch; padding: 20px; background: #FAFBFF; border-radius: 8px; outline: 1px #E2E7FF solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 11px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 26px; display: inline-flex">
          <img style="width: 36px; height: 36px" src="https://placehold.co/36x36" />
          <div style="width: 36px; height: 36px; background: #4356D6"></div>
          <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-start; gap: 11px; display: inline-flex">
            <div style="color: black; font-size: 24px; font-family: Roboto; font-weight: 600; text-transform: capitalize; line-height: 32px; word-wrap: break-word">Hassle-Free Filings Clarity</div>
            <div style="align-self: stretch; height: 59px; color: black; font-size: 18px; font-family: Roboto; font-weight: 400; text-transform: capitalize; line-height: 32px; word-wrap: break-word">From registration to ongoing reporting—we manage it end-to-end.<br/></div>
          </div>
        </div>
      </div>
      <div style="align-self: stretch; padding: 20px; background: #FAFBFF; border-radius: 8px; outline: 1px #E2E7FF solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 11px; display: flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 26px; display: inline-flex">
          <img style="width: 36px; height: 36px" src="https://placehold.co/36x36" />
          <div style="width: 36px; height: 36px; background: #4356D6"></div>
          <div style="flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-start; gap: 11px; display: inline-flex">
            <div style="color: black; font-size: 24px; font-family: Roboto; font-weight: 600; text-transform: capitalize; line-height: 32px; word-wrap: break-word">Risk Protection</div>
            <div style="align-self: stretch; height: 59px; color: black; font-size: 18px; font-family: Roboto; font-weight: 400; text-transform: capitalize; line-height: 32px; word-wrap: break-word">Stay ahead of audits, inspections, and compliance gaps with proactive support.<br/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 102.39px; height: 88.67px; left: 516.75px; top: 90.85px; position: absolute; transform: rotate(53deg); transform-origin: top left; background: #B2C0FE"></div>
</div>